{% extends 'base.html' %}
{% block content %}


<section class="section featured">
    <!-- page title -->
    <div class="title">
    <span></span>
    <h2>More About {{animals.name}}:</h2>
    <span></span>
    <!-- descriptions -->
    </div>
    <div class="leftM">
    <img
        src={{ animals.picture }}
        class="product-img img"
        alt=""
    />
    <h6>Name: {{animals.name}} </h6>
    <h6>Color: {{animals.color}}</h6>
    <h6>Desexed: {% if animals.desexed==true  %} 
        Yep {% else %} Not yet {% endif %}</h6>
    <h6>Weight: {{animals.weight}}</h6>
    <h6>Healthy condition: {{animals.disease}}</h6>
    <h6>Breed: {{animals.breed }}</h6>
    <h6>More about breed:  <a href="{{descriptions.details}}" target="_blank">Seen in Wikipedia</a>  </h6>
    </div>


</section>
{% endblock %}