<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Shelter</title>
    <link rel="icon" href="{{ url_for('static', filename='grinning-cat.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>

    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        Animal Shelter
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('login') }}">Home</a></li>
        </ul>
        
    </nav>
    {% block content %}{% endblock %}

    <footer>
        <small>&copy; 2022 <a href="https://github.com/LiZi-77/DIS_project">AnimalShelter</a></small>
    </footer>
</body>
</html>