{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="">
    <div class="contact_section-container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="contact-form">
            <form method="post">
              <div>
                <input type="text" name="username" placeholder="User Name">
              </div>
              <div>
                <input type="password" name="password" placeholder="Password">
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="call_to-btn btn_white-border">
                  Login
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}