{% extends 'base.html' %}
{% block content %}
<div class="signup_section">
<!-- page title -->
<div class="title">
<span></span>
<h2>Search Page</h2>
<span></span>
</div>
<!-- end for page title -->
<div class=>
    <form method="post">
        <div>
            <input required type="radio" name="cat" value="cat"> cat
            <input required type="radio" name="cat" value="dog"> dog <br><br>
        </div>
        <div>
            <input type="text" name="breed" placeholder="Breed you want">
        </div>
        <div>
            <input type="text" name="color" placeholder="Color you want">
        </div>
        <button type="submit" class="call_to-btn btn_white-border">
            Submit
        </button>
    </form>
</div>
</div>
{% endblock %}