{% extends 'base.html' %}

{% block content %}
<div class="signup_section">
    <!-- page title -->
    <div class="title">
    <span></span>
    <h2>Signup Page</h2>
    <span></span>
    </div>
    <!-- end for page title -->
    <div class=>
        <form method="post">
            <div>
                <input type="radio" name="type" value="user"> User
                <input type="radio" name="type" value="shelter"> Administrator <br><br>
            </div>
            <div>
                <input type="radio" name="gender" value="male"> Male
                <input type="radio" name="gender" value="female"> Female <br><br>
            </div>
            <div>
                <input type="text" name="username" required placeholder="username">
            </div>
            <div>
                <input type="password" name="password" required placeholder="password">
            </div>
            <div>
                <input type="text" name="mobile" required placeholder="mobile">
            </div>
            <div>
                <input type="text" name="age" required placeholder="age">
            </div>
            <div>
                <input type="text" name="post" required placeholder="post">
            </div>
            <div>
                <input type="text" name="occupation" required placeholder="occupation">
            </div>
            <div>
                <button type="submit" class="call_to-btn btn_white-border">
                    Signup
                </button>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}