{% extends 'base.html' %}

{% block content %}

<div class="signup_section">
    <div class=>
        <br>
        <br>
        <form method="post">
            <div>
                <input type="radio" name="type" value="user"> User
                <input type="radio" name="type" value="shelter"> Shelter <br><br>
            </div>
            <div>
                <input type="text" name="username" required placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" required placeholder="password">
            </div>
            <div>
                <button type="submit" class="call_to-btn btn_white-border">
                    Signup
                </button>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}